@view-transition {
	navigation: auto;
}

:root {
    --main-color-text: #fff;
    --main-color-bg: #1e2022;
    --main-color-cta: #ffb300;
    --main-color-cta-text: #1E2022;
    --main-color-gray: #64666a;
}


*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    background-color: var(--main-color-bg);
    color: var(--main-color-text);
    padding: 3rem min(6vw, 4rem);
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
    outline: 1px solid var(--main-color-cta);
    outline-offset: -0.5rem;
    position: relative;
}

body::after {
    position: absolute;
    bottom: 0em;
    right: 0em;
    content: url(/img/x-outline.svg);
    z-index: 99;
    width: 3rem;
    height: auto;
    background: var(--main-color-bg);
    padding: 0.6em;
}

main {
    width: 60vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

main > section {
    display: flex;
    justify-content: space-between;
}

main.intro {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} 

main.hallbart {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
} 

main.hallbart h1 {
    width: 30%;
    margin: auto 1em auto 0;
} 

main.hallbart h1 img {
    margin: auto;
} 

main.intro > h1 {
    width: 100% !important;
    max-width: unset !important;
}

main > section.intro {
    display: flex;
    justify-content: flex-start;
    column-gap: 2em;
    align-items: flex-start;
    flex-direction: column;
}

main.demos {
    max-width: 100%;
}

main > section.demos {
    flex-direction: column;
    row-gap: 2em;
    scroll-snap-type: y mandatory;
}

main > section.demos article {
    display: flex;
    flex-wrap: wrap;
    scroll-snap-align: start;
}

main > section.demos article section {
    width: 100%;
}

main > section.future {
    flex-direction: row;
    flex-wrap: wrap;
}

main > section.future article {
    width: 40%;
}

main > section.future article img {
    max-width: 100%;
}


h1 {
    font-size: min(13vw, 3.815rem);
    letter-spacing: -0.07rem;
    font-weight: 600;
    margin: 0 auto 1rem -6px;
    margin-left: -6px;
    line-height: 0.9;
    max-width: 600px;
}

h1.logo img {
    width: 15vw;
    margin-bottom: 0.5em;
}

a {
    color: var(--main-color-text);
}

a:hover {
    text-decoration: none;
}

p {
    max-width: 728px;
}

ul {
    padding-inline-start: 1em;
}

p + ul li {
    margin-left: 2em;
}

.emoji {
    letter-spacing: 0;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 460px;
}

input {
    font-size: 0.875rem;
    padding: 0.875rem;
    margin-bottom: 1rem;
}

input:focus-visible {
    outline: none;
}

input[type="submit"], .cta-button {
    border: 1px solid var(--main-color-cta-text);
    box-shadow: 
        1px 1px 0 var(--main-color-cta-text),
        2px 2px 0 var(--main-color-cta-text),
        2px 3px 0 var(--main-color-cta-text),
        2px 3px 0 var(--main-color-cta-text),
        2px 3px 0 var(--main-color-cta-text)
    ;
    background: var(--main-color-cta);
    color: var(--main-color-cta-text);
    transition: 0.1s;
    margin-top: 1rem;
    text-align: center;
}

input[type="submit"]:hover, .cta-button:hover {
    border: 1px solid var(--main-color-cta-text);
    box-shadow: 
        1px 1px 0 var(--main-color-cta-text),
        2px 2px 0 var(--main-color-cta-text),
        1px 2px 3px var(--main-color-cta-text),
        1px 2px 3px var(--main-color-cta-text)
    ;
    background-image: linear-gradient(to right, 
                                    rgba(255, 255, 255, 0.127) 0%, 
                                    rgba(255, 255, 255, 0) 100%
                        );
    color: var(--main-color-cta-text);
}

nav {
    width: 100%;
}

nav a {
    margin-right: 1rem;
}

nav[aria-label='Site'] {
    bottom: 4rem;
    position: fixed;
    height: 100px;
    opacity: 0;
    transition: 0.1s;
}

nav[aria-label='Site']:hover {
    opacity: 1;
}


nav[aria-label='Presentation'] {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    top: 45vh;
    left: 2em;
    right: 2em;
    width: auto;
    z-index: 999;
}

nav[aria-label='Presentation'] a { 
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.2s ease;
    margin: 0;
}

nav[aria-label='Presentation'] a:hover { 
   transform: skew(-10deg);
}

nav[aria-label='Presentation'] a { 
    font-size: 2em;
    text-decoration: none;
}

nav[aria-label='Presentation'] a.previous { 
    transform: rotateY(180deg);
}

nav[aria-label='Presentation'] a.previous:hover  { 
    transform: rotateY(180deg) skew(10deg);
}


img.qr {
    max-width: min(666px, 100%);
    margin: 2em 0;
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 0.5em;
}

.masonry { /* Masonry container */
    column-count: 1;
    column-gap: 1em;
}

.masonry > * {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.masonry a {
    min-height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masonry a img {
   width: 100%;
}

.qanda {
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
}

.qanda-qr {
    width: 40%;
    font-size: 0.7em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.qanda img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.5em;
}


#chat {
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: calc(50% - 1em);
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0;
    margin-left: 1em;
    position: relative;
}


.bubble {
    background: var(--main-color-cta);
    color: var(--main-color-cta-text);
    padding: 1em 2em 1em 2em;
    border-radius: 4em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
}

.bubble .sender {
    font-size: 0.75em;
    font-weight: 600;
    text-align: right;
    margin-top: 0.5em;
}

#typeindicator {
    position: absolute;
    top: 7em;
    right: calc(50% - 100px);
    width: 200px;
}   

#typeindicator img {
    
    width: 100%;
}   

@media (min-width: 666px) {
    .large-no-wrap {
        white-space: nowrap;
    }
}

@media (max-width: 800px) {
    .masonry {
        column-count: 2;
    }
}



@font-face {
    font-family: 'xlent-icons';
    src: url('/xlent-icons.woff2') format('woff2');
}

.icon {
    font-family: 'xlent-icons';
}